<ion-view ng-controller="homeCtrl" view-title="Orders Up!">
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search">
            </label>
        </div>

        <div class="list list-inset">
            <a class="item item-thumbnail-left" href="#" ng-repeat="image in images">
                <img ng-src="{{image.src}}">
                <h2>{{image.name}}</h2>
                <p>Stars will be here</p>
                <img src="../img/yelp-logo.png">
            </a>
        </div>
    </ion-content>

    <div style="position: fixed; bottom: 0; width: 100%; height: 55px">
        <a class="button button-full icon-right ion-chevron-right button-assertive" ng-click="getTimeStamp()">Custom Order</a>
    </div>

</ion-view>